/* src/App.css */
body {
  color:black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 300px;
  background-color: #f7f7f7;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0; /* Adicionado para garantir que não encolha */
}
.sidebar h2 {
  margin-top: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.layer-item {
  margin-bottom: 10px;
}

.choropleth-controls {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.choropleth-controls label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.choropleth-controls select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.map-wrapper {
  flex-grow: 1; /* Faz o mapa ocupar o resto do espaço */
  position: relative;
  height: 100%; /* Importante para o posicionamento dos controles do Leaflet */
}
.cooperativa-icon {
  /* Torna a imagem perfeitamente circular */
  border-radius: 50% !important;
  
  /* Adiciona a borda */
  /* Você pode mudar a cor (ex: #000 para preto) */
  border: 3px solid #ffffff !important; 
  
  /* Adiciona uma sombra para destacar o ícone do mapa */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4) !important;
  
  /* Garante que a imagem se ajuste ao formato */
  object-fit: cover;
}